@import "~bootstrap/scss/bootstrap";

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.squished {
  margin: 0vh 20vh;
}

@media only screen and (max-width: 800px) {
  .squished {
    margin: 0vh 10vh;
  }
}

@media only screen and (max-width: 600px) {
  .squished {
    margin: 0vh 5vh;
  }
}

@media only screen and (max-width: 600px) {
  img {
    max-width: 100%;
    height: auto;
  }
}
